@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --nav-background-color: #000;
    --main-background-color: #fff;
    --main-button-background-color: #231b14;
    --hover-background-color: #18A0FB;
}

body {
    background-color: var(--main-background-color);
    font-family: 'Muli', sans-serif;
    margin: 0 auto;
    min-width: 370px;
    max-width: 1400px;
}

/* Section of Header */
.nav-container {
    background-color: var(--nav-background-color);
    width: 100vw;
}

nav a {
    font-size: 0.9rem;
    color: #dddddd;
    text-decoration: none;
    /* position: relative;; */
}

nav a:hover {
    text-decoration: none;
    color: #fff;
}

.nav-item {
    margin: 0 1.5%;
    padding: 1rem 0 1rem 0;
    transition: opacity 0.5s ease-in;
}

.nav-brand {
    font-size: 1.2rem;
}

.brand-ico {
    color: var(--hover-background-color);
}

.brand-txt {
    font-size: 1.2rem;
}

.search-input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    margin: 0 0.5rem 0 1rem;
    padding: 2px;
    width: 350px;
}

/* New Task Modal */
.dateInput {
    border-radius: 5px;
    border: 1px solid lightgray;
    padding : 0.4rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.priority-color.high {
    color: red;
}
.priority-color.normal {
    color: blue;
}
.priority-color.low {
    color: green;
}

.form-select {
    width: 30%;
}

#task-table {
    font-size: 0.9rem;
}

.row.completed {
    color: gray;
}
.row.completed .task {
    text-decoration: line-through;
}
.row .task-completed-check i:first-child {
    display: block;
}
.row.completed .task-completed-check i:first-child {
    display: none;
}
.row .task-completed-check i:last-child {
    display: none;
}
.row.completed .task-completed-check i:last-child {
    display: block;
}


/* Weekly Task */
.alert {
    background-color: lightsalmon;
    font-size: 1.2rem;
}

.weekly-task-item {
    color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.2rem 1rem;
    border-bottom: 1px solid lightgrey;
}

.weekly-task-item.completed {
    text-decoration: line-through;
    color: gray;
}

.weekly-task-item:hover {
    background-color: rgb(226, 232, 240);
}

.card button {
    margin: 0.5rem;
    margin-top: 1rem;
}



@media(max-width: 768px) {
    .due-date {
        font-size: 0.8rem;
    }
}

@media(max-width: 600px) {
    .due-date {
        font-size: 0.7rem;
    }
}